<h2>{{device.DeviceType}} Configuration</h2>
<br>
<div ng-switch on="device.DeviceType">
  <div ng-switch-when="Simulator">
    <div ng-include src="'/partials/sim-config.html'"></div>
  </div>
  <div ng-switch-default>
    No configuration options available.
  </div>
</div>
<br>
<a href="/#/lobby" class="btn btn-info">Lobby</a>
<div ng-switch on="isMaster()">
  <div ng-switch-when="true">
    <a href="/#/hax/{{device.Id}}" class="btn btn-primary">Start</a>
  </div>
  <div ng-switch-default>
    <a href="" class="btn disabled">Start</a>
  </div>
</div>
