    <TABLE id="lobbyTbl">
      <tr id=lobbyHeaderRow>
        <th id=first class="lobbyHdr">Interface</th>
        <th class="lobbyHdr">Vehicle Info</th>
        <th class="lobbyHdr">Session</th>
        <th id=last class="lobbyHdr">Action</th>
      </tr>
       <tr ng-class-odd="'lobbyDevRowOdd'" ng-class-even="'lobbyDevRowEven'" ng-repeat="device in devices" ng-click="showDetails = ! showDetails">
         <td class="lobbyDev">{{device.DeviceType}}</td>
         <td class="lobbyDev">
            {{device.DeviceDesc}}
            <div ng-show="showDetails" class="animate">{{device.Year}} {{device.Make}} {{device.Model}}</div>
         </td>
         <td class="lobbyDev">{{device.HackSession}}</td>
         <td id="lobbyAction" class="lobbyDev"><div ng-switch on="device.HackSession">
             <div ng-switch-when="Idle">
                <a ng-click="config(device.Id)" href="/#/candevice/{{device.Id}}/config" class="btn btn-primary">Config</a>
             </div>
             <div ng-switch-when="Config...">
                <a ng-click="join(device.Id)" href="/#/candevice/{{device.Id}}/join" class="btn btn-primary">Join</a>
             </div>
             <div ng-switch-default>
                <a ng-click="join(device.Id)" href="/#/hax/{{device.Id}}" class="btn btn-primary">Join</a>
             </div>
         </td>
       </tr>
    </TABLE>
    <br>
    <a id="AddSimBtn" ng-click="AddSimulator()" class="btn btn-info">Add Simulator</a>
    <HR>
    <h3>Lobby Chat</h3><BR>
    <div id="chatLobby"></div>
    <FORM id=chatForm>
      <INPUT type=text id=lobbyChatMsg >
    </FORM>
    <DIV>Connected users: </DIV>
    <A href="/logout">Logout</A><BR>
