#lobbyTbl {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#lobbyHeaderRow {
  background-color: #2ecc71;
}

th.lobbyHdr {
  padding: 5px;
}

td.lobbyDev {
  padding: 3px;
}

th#first {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th#last {
  border-radius: 6px 6px 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
}

.lobbyDevRowOdd {
  background-color: #ecf0f1;
}

.lobbyDevRowEven {
  background-color: #bdc3c7;
}

#lobbyAction {
  text-align:center;
}

#lobbyChatMsg {
  margin-left: 10px;
  width: 50%;
}

#chatLobby {
  margin-left: 10px;
  width: 50%;
}

table#loginTbl {
  margin-left: auto;
  margin-right: auto;
}

td#loginUser {
  vertical-align: top;
  padding-right: 20px;
  font-weight: bold;
  font-size: 24px;
}

input#loginUserTxt {
  vertical-align: middle;
  height: 25px;
}

a#AddSimBtn {
  margin-left: 50px;
}

.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.fade { height: 50px; }

.fade-show-setup,.fade-hide-setup {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -ms-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.fade-show-setup{
      opacity:0;
      height: 0;
}
.fade-hide-setup{
      opacity:1;
      height: 0;
}
.fade-show-setup.fade-show-start {
      opacity: 1;
      height: 50px;
}
.fade-hide-setup.fade-hide-start{
        opacity:0;
        height: 50px;
}
