<HTML>
  <HEAD>
    <TITLE>CANiBUS Lobby</TITLE>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        var conn;
        var msg = $("#lobbyChatMsg");
        var chatLobby = $("#chatLobby");

        function appendChat(msg) {
          var d = chatLobby[0];
          var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
          if (doScroll) {
            d.scrollTop = d.scrollHeight - d.clientHeight;
          }
        }

        $("#chatForm").submit(function() {
          if (!conn) {
            return false;
          }
          if (!msg.val()) {
            return false;
          }
          conn.send(msg.val());
          msg.val("");
          return false;
        });

        if (window["WebSocket"]) {
          conn = new WebSocket("ws://{{.Host}}/chatLobby");
          conn.onclose = function(evt) {
            appendChat($("<div><b>Connection closed.</b></div>"));
          }
          conn.onmessage = function(evt) {
            appendChat($("<div/>").text(evt.data));
          }
        } else {
           appendChat($("<div><b>Your browser does not support WebSockets.</b></div>"));
        }
        });
    </script>
  </HEAD>
  <BODY>
    <CENTER><H1>CANiBUS Lobby</H1></CENTER>
    <TABLE>
      <tr>
        <th>Interface</th><th>Vehicle Info</th><th>Session</th><th>Action</th>
	{{range .Config.GetDrivers}}
           <tr>
              <td>{{.DeviceType}}</td>
              <td>{{.DeviceDesc}}</td>
              <td>{{if `.GetHackSession == nil`}}
		    Idle
		   {{else}}
		    {{.GetHackSession}}
		   {{end}}
	          </td>
              <td>
		{{if `.GetHackSession == nil`}}
		  <a href="/config?id={{.GetId}}">Config</a>
	        {{else}}
		  <a href="/join?id={{.GetId}}">Join</a>
		{{end}}
              </td>
           </tr>
        {{end}}
      </tr>
    </TABLE>
    <HR>
    <B>Lobby Chat</B><BR>
    <div id="chatLobby"></div>
    <FORM id=chatForm>
      <INPUT type=text id=lobbyChatMsg size=64>
      <INPUT type=submit value="Send">
    </FORM>
    <BR>
    <DIV>Connected users: {{.NumOfUsers}}</DIV>
    <A href="/logout">Logout</A><BR>
  </BODY>
</HTML>
