    <TABLE id="lobbyTbl">
      <tr id=lobbyHeaderRow>
        <th id=first class="lobbyHdr">Interface</th>
        <th class="lobbyHdr">Vehicle Info</th>
        <th class="lobbyHdr">Session</th>
        <th id=last class="lobbyHdr">Action</th>
      </tr>
       <tr ng-class-odd="'lobbyDevRowOdd'" ng-class-even="'lobbyDevRowEven'"ng-repeat="device in devices">
         <td class="lobbyDev">{{device.DeviceType}}</td>
         <td class="lobbyDev">{{device.DeviceDesc}}</td>
         <td class="lobbyDev">{{device.HackSession}}</td>
         <td id="lobbyAction" class="lobbyDev"><div ng-switch on="device.HackSession">
             <div ng-switch-when="Idle">
                <a href="/candevice/{{device.Id}}/config" class="btn btn-primary">Config</a>
             </div>
             <div ng-switch-default>
                <a href="/candevice/{{device.Id}}/join" class="btn btn-primary">Join</a>
             </div>
         </td>
       </tr>
    </TABLE>
    <HR>
    <h3>Lobby Chat</h3><BR>
    <div id="chatLobby"></div>
    <FORM id=chatForm>
      <INPUT type=text id=lobbyChatMsg >
    </FORM>
    <DIV>Connected users: </DIV>
    <A href="/logout">Logout</A><BR>
