<TABLE id="packetsTbl">
  <tr id=packetHeaderRow>
    <th id=first class="packetHdr">Src</th>
    <th class="packetHdr">ArbID</th>
    <th class="packetHdr">B1</th>
    <th class="packetHdr">B2</th>
    <th class="packetHdr">B3</th>
    <th class="packetHdr">B4</th>
    <th class="packetHdr">B5</th>
    <th class="packetHdr">B6</th>
    <th class="packetHdr">B7</th>
    <th class="packetHdr">Ext</th>
    <th id=last class="packetHdr">Notes</th>
  </tr>
  <tr ng-class-odd="'packetRowOdd'" ng-class-even="'paccketRowEven'" ng-repeat="packet in packets" >
    <td class="packetSrc">{{packet.Src}}</td>
    <td class="packetArbID">{{packet.ArbID}}</td>
    <td class="packetB1">{{packet.B1}}</td>
    <td class="packetB2">{{packet.B2}}</td>
    <td class="packetB3">{{packet.B3}}</td>
    <td class="packetB4">{{packet.B4}}</td>
    <td class="packetB5">{{packet.B5}}</td>
    <td class="packetB6">{{packet.B6}}</td>
    <td class="packetB7">{{packet.B7}}</td>
    <td class="packetNotes">{{packet.Notes}}</td>
  </tr>
</TABLE>
